<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metric Charts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<button onclick="toggleCharts()">Switch Chart View</button>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div id="percentCharts">
<h2>30 Day Body Metrics Trend</h2>
<canvas id="percentChart30_pct" width="600" height="300"></canvas>
<h2>90 Day Body Metrics Trend</h2>
<canvas id="percentChart90_pct" width="600" height="300"></canvas>
<h2>1 Year Body Metrics Trend</h2>
<canvas id="percentChart1y_pct" width="600" height="300"></canvas>
</div>

<div id="poundCharts"  style="display:none;">
<h2>30 Day Body Metrics Trend</h2>
<canvas id="weightChart30_lbs" width="600" height="300"></canvas>
<h2>90 Day Body Metrics Trend</h2>
<canvas id="weightChart90_lbs" width="600" height="300"></canvas>
<h2>1 Year Body Metrics Trend</h2>
<canvas id="weightChart1y_lbs" width="600" height="300"></canvas>
</div>

<script>
function toggleCharts() {
  const percent = document.getElementById("percentCharts");
  const pounds = document.getElementById("poundCharts");
  if (percent.style.display === "none") {
    percent.style.display = "block";
    pounds.style.display = "none";
  } else {
    percent.style.display = "none";
    pounds.style.display = "block";
  }
}

const dates3 = JSON.parse('{{ dates | safe }}');
const weights3 = JSON.parse('{{ weights | safe }}');
const bodyFats3 = JSON.parse('{{body_fats | safe}}');
const viscFats3 = JSON.parse('{{visceral_fats | safe}}');
const muscle3 = JSON.parse('{{muscle_lb | safe}}');
const fat_lb3 = JSON.parse('{{body_fat_lb | safe}}');

const last30 = dates3.slice(-30);
const weight30 = weights3.slice(-30);
const bodyFats30 = bodyFats3.slice(-30);
const viscFats30 = viscFats3.slice(-30);
const muscle30 = muscle3.slice(-30);
const fat_lb30 = fat_lb3.slice(-30);

const dates9 = JSON.parse('{{ dates90 | safe }}');
const weights9 = JSON.parse('{{ weights90 | safe }}');
const bodyFats9 = JSON.parse('{{ body_fats90 | safe }}');
const viscFats9 = JSON.parse('{{ visceral_fats90 | safe }}');
const muscle9 = JSON.parse('{{muscle_lb90 | safe}}');
const fat_lb9 = JSON.parse('{{body_fat_lb90 | safe}}');

const last90 = dates9.slice(-30);
const weight90 = weights9.slice(-30);
const bodyFats90 = bodyFats9.slice(-30);
const viscFats90 = viscFats9.slice(-30);
const muscle90 = muscle9.slice(-30);
const fat_lb90 = fat_lb9.slice(-30);

const dates1y = JSON.parse('{{ dates1y | safe }}');
const weights1y = JSON.parse('{{ weights1y | safe }}');
const bodyFats1y = JSON.parse('{{ body_fats1y | safe }}');
const viscFats1y = JSON.parse('{{ visceral_fats1y | safe }}');
const muscle1y = JSON.parse('{{muscle_lb1y | safe}}');
const fat_lb1y = JSON.parse('{{body_fat_lb1y | safe}}');

const last60w = dates1y.slice(-60);
const weight60w = weights1y.slice(-60);
const bodyFats60w = bodyFats1y.slice(-60);
const viscFats60w = viscFats1y.slice(-60);
const muscle60w = muscle1y.slice(-60);
const fat_lb60w = fat_lb1y.slice(-60);

function buildMetricsChart(canvasId, labels, weight, fatpct, vFat) {
    new Chart(document.getElementById(canvasId), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                label: 'Weight (lbs)',
                data: weight,
                borderColor: 'blue',
                yAxisID: 'y-weight',
                fill: false
                },
                {
                label: 'Body Fat (%)',
                data: fatpct,
                borderColor: 'orange',
                yAxisID: 'y-fat',
                fill: false
                },
                {
                label: 'Visceral Fat',
                data: vFat,
                borderColor: 'purple',
                yAxisID: 'y-fat',
                fill: false
                }
            ]
        },
        options: {
            scales: {
                'y-weight': {
                    type: 'linear',
                    position: 'left',
                    title: {
                        display: true,
                        text: 'Weight (lbs)'
                    }
                },
                'y-fat': {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: true,
                        text: 'Body Fat (%)'
                    },
                    grid: {
                        drawOnChartArea: false
                    }
                }
            }
        }
    });
}

function buildMetricsLbChart(canvasId, labels, weight, muscle, fatLb) {
    new Chart(document.getElementById(canvasId), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                label: 'Weight',
                data: weight,
                borderColor: 'blue',
                yAxisID: 'y-weight',
                fill: false
                },
                {
                label: 'Muscle',
                data: muscle,
                borderColor: 'green',
                yAxisID: 'y-muscleFat',
                fill: false
                },
                {
                label: 'Fat',
                data: fatLb,
                borderColor: 'orange',
                yAxisID: 'y-muscleFat',
                fill: false
                }
            ]
        },
        options: {
            scales: {
                'y-weight': {
                    type: 'linear',
                    position: 'left',
                    title: {
                        display: true,
                        text: 'Weight (lbs)'
                    }
                },
                'y-muscleFat': {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: true,
                        text: 'Muscle/ Fat (lbs)'
                    },
                    grid: {
                        drawOnChartArea: false
                    }
                }
            }
        }
    });
}

// -----------------------------
// Build all charts
// -----------------------------
// Percent charts
buildMetricsChart("percentChart30_pct", last30, weight30, bodyFats30, viscFats30);
buildMetricsChart("percentChart90_pct", last90, weight90, bodyFats90, viscFats90);
buildMetricsChart("percentChart1y_pct", last60w, weight60w, bodyFats60w, viscFats60w);

// Pound charts
buildMetricsLbChart("weightChart30_lbs", last30, weight30, muscle30, fat_lb30);
buildMetricsLbChart("weightChart90_lbs", last90, weight90, muscle90, fat_lb90);
buildMetricsLbChart("weightChart1y_lbs", last60w, weight60w, muscle60w, fat_lb60w);
</script>
</body>