<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metric Charts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<button onclick="toggleCharts()">Switch Chart View</button>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div id="percentCharts">
<h2>30-Day Body Metrics Trend</h2>
<canvas id="weightChart30_pct" width="600" height="300"></canvas>
<h2>90-Day Body Metrics Trend</h2>
<canvas id="weightChart90_pct" width="600" height="300"></canvas>
</div>

<div id="poundCharts"  style="display:none;">
<h2>30-Day Body Metrics Trend</h2>
<canvas id="weightChart30_lbs" width="600" height="300"></canvas>
<h2>90-Day Body Metrics Trend</h2>
<canvas id="weightChart90_lbs" width="600" height="300"></canvas>
</div>

<script>
function toggleCharts() {
  const percent = document.getElementById("percentCharts");
  const pounds = document.getElementById("poundCharts");
  if (percent.style.display === "none") {
    percent.style.display = "block";
    pounds.style.display = "none";
  } else {
    percent.style.display = "none";
    pounds.style.display = "block";
  }
}

const dates3 = JSON.parse('{{ dates | safe }}');
const weights3 = JSON.parse('{{ weights | safe }}');
const bodyFats3 = JSON.parse('{{body_fats | safe}}');
const viscFats3 = JSON.parse('{{visceral_fats | safe}}');
const muscle3 = JSON.parse('{{muscle_lb | safe}}');
const fat_lb3 = JSON.parse('{{body_fat_lb | safe}}');

const last30 = dates3.slice(-30);
const weight30 = weights3.slice(-30);
const bodyFats30 = bodyFats3.slice(-30);
const viscFats30 = viscFats3.slice(-30);
const muscle30 = muscle3.slice(-30);
const fat_lb30 = fat_lb3.slice(-30);

const dates9 = JSON.parse('{{ dates90 | safe }}');
const weights9 = JSON.parse('{{ weights90 | safe }}');
const bodyFats9 = JSON.parse('{{ body_fats90 | safe }}');
const viscFats9 = JSON.parse('{{ visceral_fats90 | safe }}');
const muscle9 = JSON.parse('{{muscle_lb90 | safe}}');
const fat_lb9 = JSON.parse('{{body_fat_lb90 | safe}}');

const last90 = dates9.slice(-30);
const weight90 = weights9.slice(-30);
const bodyFats90 = bodyFats9.slice(-30);
const viscFats90 = viscFats9.slice(-30);
const muscle90 = muscle9.slice(-30);
const fat_lb90 = fat_lb9.slice(-30);

new Chart(document.getElementById('weightChart30_pct'), {
    type: 'line',
    data: {
        labels: last30,
        datasets: [{
            label: 'Weight (lbs)',
            data: weight30,
            borderColor: 'blue',
            yAxisID: 'y-weight',
            fill: false
            },
            {
            label: 'Body Fat (%)',
            data: bodyFats30,
            borderColor: 'green',
            yAxisID: 'y-fat',
            fill: false
            },
            {
            label: 'Visceral Fat',
            data: viscFats30,
            borderColor: 'brown',
            yAxisID: 'y-fat',
            fill: false
            }
        ]
    },
    options: {
        scales: {
            'y-weight': {
                type: 'linear',
                position: 'left',
                title: {
                    display: true,
                    text: 'Weight (lbs)'
                }
            },
            'y-fat': {
                type: 'linear',
                position: 'right',
                title: {
                    display: true,
                    text: 'Body Fat (%)'
                },
                grid: {
                    drawOnChartArea: false
                }
            }
        }
    }
});

new Chart(document.getElementById('weightChart90_pct'), {
    type: 'line',
    data: {
        labels: last90,
        datasets: [
            {
                label: 'Weight (lbs)',
                data: weight90,
                borderColor: 'blue',
                yAxisID: 'y-weight',
                fill: false
            },
            {
                label: 'Body Fat (%)',
                data: bodyFats90,
                borderColor: 'green',
                yAxisID: 'y-fat',
                fill: false
            },
            {
                label: 'Visceral Fat',
                data: viscFats90,
                borderColor: 'brown',
                yAxisID: 'y-fat',
                fill: false
            }
        ]
    },
    options: {
        scales: {
            'y-weight': {
                type: 'linear',
                position: 'left',
                title: {
                    display: true,
                    text: 'Weight (lbs)'
                }
            },
            'y-fat': {
                type: 'linear',
                position: 'right',
                title: {
                    display: true,
                    text: 'Body Fat (%)'
                },
                grid: {
                    drawOnChartArea: false
                }
            }
        }
    }
});

new Chart(document.getElementById('weightChart30_lbs'), {
    type: 'line',
    data: {
        labels: last30,
        datasets: [{
            label: 'Weight (lbs)',
            data: weight30,
            borderColor: 'blue',
            yAxisID: 'y-weight',
            fill: false
            },
            {
            label: 'Muscle (lbs)',
            data: muscle30,
            borderColor: 'green',
            yAxisID: 'y-fat',
            fill: false
            },
            {
            label: 'Body Fat (lbs)',
            data: fat_lb30,
            borderColor: 'brown',
            yAxisID: 'y-fat',
            fill: false
            }
        ]
    },
    options: {
        scales: {
            'y-weight': {
                type: 'linear',
                position: 'left',
                title: {
                    display: true,
                    text: 'Weight (lbs)'
                }
            },
            'y-fat': {
                type: 'linear',
                position: 'right',
                title: {
                    display: true,
                    text: 'Muscle / Body Fat (lbs)'
                },
                grid: {
                    drawOnChartArea: false
                }
            }
        }
    }
});

new Chart(document.getElementById('weightChart90_lbs'), {
    type: 'line',
    data: {
        labels: last90,
        datasets: [
            {
                label: 'Weight (lbs)',
                data: weight90,
                borderColor: 'blue',
                yAxisID: 'y-weight',
                fill: false
            },
            {
                label: 'Muscle (lbs)',
                data: muscle90,
                borderColor: 'green',
                yAxisID: 'y-fat',
                fill: false
            },
            {
                label: 'Body Fat (lbs)',
                data: fat_lb90,
                borderColor: 'brown',
                yAxisID: 'y-fat',
                fill: false
            }
        ]
    },
    options: {
        scales: {
            'y-weight': {
                type: 'linear',
                position: 'left',
                title: {
                    display: true,
                    text: 'Weight (lbs)'
                }
            },
            'y-fat': {
                type: 'linear',
                position: 'right',
                title: {
                    display: true,
                    text: 'Muscle / Body Fat (lbs)'
                },
                grid: {
                    drawOnChartArea: false
                }
            }
        }
    }
});
</script>
</body>